{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<div class="compte-form">
    <h1>Create new Annonces</h1>

    {{ include('annonces/_form.html.twig') }}
</div>

{% endblock %}
